<agm-map [latitude]="lat" [longitude]="lng">
  <!-- <agm-marker [latitude]="lat" [longitude]="lng"></agm-marker> -->
  <!-- <li *ngFor="path in paths"> -->
      <!-- <div ng-repeat="path in paths">  -->
          <agm-polygon [paths]="paths">
            </agm-polygon>
      <!-- </div> -->
    
  <!-- </li> -->
  
</agm-map>