<div class="modal fade" id="newRequestModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" 
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">New City Request</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form [formGroup]="userRequestForm">
          <div class="form-group">
            <label for="recipient-name" class="col-form-label">Name:</label>
            <input type="text" class="form-control" id="recipient-name" [(ngModel)]="userRequest.name" 
              formControlName="name">
            <div *ngIf="userRequestForm.controls['name'].invalid && (userRequestForm.controls['name'].dirty 
                      || userRequestForm.controls['name'].touched)" class="alert alert-danger">
              <div *ngIf="userRequestForm.controls['name'].errors.required">Name is required.</div>
            </div>
          </div>
          <div class="form-group">
            <label for="recipient-email">Email address</label>
            <input type="email" class="form-control" id="recipient-email" placeholder="name@example.com" 
                    [(ngModel)]="userRequest.email" formControlName="email">
            <div *ngIf="userRequestForm.controls['email'].invalid && (userRequestForm.controls['email'].dirty 
                      || userRequestForm.controls['email'].touched)" class="alert alert-danger">
              <div *ngIf="userRequestForm.controls['email'].errors.required">Email is required.</div>
            </div>
          </div>
          <div class="form-group">
            <label for="city-name" class="col-form-label">City:</label>
            <input type="text" class="form-control" id="city-name" [(ngModel)]="userRequest.city" 
                formControlName="city">
            <div *ngIf="userRequestForm.controls['city'].invalid && (userRequestForm.controls['city'].dirty 
                    || userRequestForm.controls['city'].touched)" class="alert alert-danger">
            <div *ngIf="userRequestForm.controls['city'].errors.required">City name is required.</div>
          </div>
          </div>
          <div class="form-group">
            <label for="message-text" class="col-form-label">Neighborhoods List:</label>
            <textarea class="form-control" id="message-text" placeholder="Zone1, Zone2..." 
                    [(ngModel)]="userRequest.neighborhoods" formControlName="neighborhoods"></textarea>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" #closeBtn>Close</button>
        <button type="button" class="btn btn-primary" (click)="processRequest()"
            [disabled]="userRequestForm.pristine || userRequestForm.invalid">Send request</button>
      </div>
    </div>
  </div>
</div>
