.alert {
    padding: 0rem;
    margin-bottom: 0rem;
    margin-top: 0.3rem;
}

.modal-header {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}

.modal-footer {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}