<div>
  <!-- Navbar -->
  <nav class="navbar navbar-expand-sm navbar-light">
    <div id="navbarNavDropdown" class="navbar-collapse collapse">
      <button class="navbar-toggler sidebarbutton" type="button" data-toggle="modal" data-target="#myMenuModal">
        <span class="navbar-toggler-icon my-toggler"></span> 
      </button>
      <a class='navbar-brand mr-auto'>{{pageTitle}}</a>
      <ul class="navbar-nav">
          <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                {{selectedCity}}
              </a>
              <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownMenuLink">
                  <a class="dropdown-item" *ngFor="let city of cityList" (click)="changeCity(city)">{{city.name}}</a>
              </div>
          </li>
      </ul>
    </div>
  </nav>

  <!-- Sidebar -->
  <div class="modal left fade" id="myMenuModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
        <div class="btn-group-vertical">
          <button class="btn btn-light" data-toggle="modal" data-target="#newRequestModal" 
            data-dismiss="modal">Request New City</button>
          <button class="btn btn-light" data-toggle="collapse" data-target="#help">Help</button>
        </div>
        <div id="help" class="collapse">
          <h4>Contact</h4>
            <p> Please email me directly at <a href="cipri.mihaila@gmail.com">cipri.mihaila@gmail.com</a>
                with any questions, bugs, feedback or feature requests.
            </p>
        </div>
			</div>
		</div>
  </div>
  
  <div class='container'>
    <app-new-neighborhood-request></app-new-neighborhood-request>
    <router-outlet></router-outlet>
  </div>
</div>

