.navbar {
	margin-bottom: 2px;
	z-index: 2;
	background: rgba(255, 255, 255, 0.5);
}

.dropdown-menu-right {
	background: rgba(255, 255, 255, 0.5);
}

.custom-toggler.navbar-toggler {
	border-color: rgb(255, 102, 203);
}

.custom-toggler .navbar-toggler-icon {
	background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,102,203, 0.7)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

.navbar-light .navbar-nav .nav-link {
	color: black;
}

.sidebarbutton {
	background: rgba(255, 255, 255, 0.5);
	display: inline;
}

.modal.left .modal-dialog {
	position: fixed;
	margin: auto;
	width: 275px;
	padding-top: 58px;
	height: 100%;
	-webkit-transform: translate3d(0%, 0, 0);
	-ms-transform: translate3d(0%, 0, 0);
	-o-transform: translate3d(0%, 0, 0);
	transform: translate3d(0%, 0, 0);
}

.modal.left .modal-content {
	height: 100%;
	/* background:rgba(255,255,255,0.5); */
	overflow-y: auto;
}

.modal.left .modal-body {
	padding: 15px 15px 80px;
}

.modal.left.fade .modal-dialog {
	-webkit-transition: opacity 0.3s linear, left 0.3s ease-out;
	-moz-transition: opacity 0.3s linear, left 0.3s ease-out;
	-o-transition: opacity 0.3s linear, left 0.3s ease-out;
	transition: opacity 0.3s linear, left 0.3s ease-out;
}

.modal.left.fade.in .modal-dialog {
	left: 0;
}

.modal.right.fade.in .modal-dialog {
	right: 0;
}

.modal-content {
	border-radius: 0;
	border: none;
}
