<mat-selection-list #shoes>
  <mat-list-option  [style.background-color]="neighborhood.color" *ngFor="let neighborhood of neighborhoods">
    {{neighborhood.name}}
  </mat-list-option>
</mat-selection-list>
